default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  # username:
  # password:

development:
  <<: *default
  database: wav3_development

test:
  <<: *default
  database: wav3_test
